# Python
__pycache__/
*.py[cod]
*$py.class

# Data and reports directories
data/
reports/

# Virtual environment
venv/

# IDE-specific files
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
__pycache__/

# Logs and databases
*.log
*.sqlite3

# Environment configuration files
.env
.env.local

# Dependencies
__pycache__/
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
/secrets.py
start_internet_checker.sh